html,body{
	width: 100%;
	height: 100%;
}

#container{
	display: grid;
	grid-template-columns: 50% 50%;
	margin:0 auto;
	width: 80%;
	height: 80%;
	top: 10%;
}

#alcaldiasMap{
	margin: 10px;
	border-radius: 10px;
}

#chart{
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #f3f6f4;
}

.texto{
	font-family: arial;
	width: 60%;
	margin: 0 auto;
}

#controls{
	align-items: center;
	font-family: arial;
	width: 60%;
	margin: 0 auto;
}

.button{
	background-color: #f3f6f4;
	border-radius: 10px;
	height: 40px;
	padding: 10px 15px;
	margin: auto;
	border: 4px #fff;
}

.button:hover {
	background-color: #1a6640;
	color: #FFF;
}

a:link {
	color: #1a6640;
}
a:visited {
	color: #75a38c;
}
a:hover {
	color: #0a2819;
}
